* {
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}

.flutuar {
    float: left;
    width: 50%;
}

#vermelho {
    background-color: red;
    color: white;
}

#azul {
    background-color: blue;
    color: white;
}