@charset "UTF-8";
@font-face {
    font-family: protest;
    src: url(./fonte/Protest_Revolution/ProtestRevolution-Regular.ttf)format("truetype");
    font-weight: normal;
    font-style: normal;
}
:root {
    --cor-letras:rgb(255, 255, 255);
   
}

body {
    color: var(--cor-letras);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url(./images/Wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    margin: 5em 0em 1em 15%;
}

header p {
    font-family: protest,Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

main {
    background-color: #0e0e0e;
    color: white;
    width: 80%;
    margin: auto;
    border-radius: 2px;
}

#buxa {
    width: 8em;
    margin: 10px;
}

h1, h2 {
    font-family: protest;
    padding: 15px;
}

h1 {
    margin: auto;
    text-shadow: 2px 2px 0px black;
}

h2 {
    font-size: 1.5em;
}

footer a {
    margin: 2em 0em 0em 2em;
    color: white;
    text-decoration: none;
    color: #ffc500;
    text-shadow: 1px 1px 0px black;

}

a:hover {
    color: brown;
}

form {
    padding: 15px;
}

footer {
    margin: auto;
    color: white;
    font-weight: bold;
    background-color: #280033;
    width: 80%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 20em;
}